build/
target/
obj/
dep/
test/bin
test/obj
*.o
*~
\#*
*.patch
CppCheckResults.xml
*.mk
*.layout
*.layout.orig
*.depend
*.pyc
clang-tidy-commands.log
.cache

# Vim temporary files
*.swp

# Emacs gtags
GPATH
GRTAGS
GTAGS

# Temporary files
tmp/
web/obj/
web/obj-asan/
web/dist/
web/dist-asan/
